/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";

 .container {
  margin-left: 135px
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
}

.quiet {
  color: #ababab;
}

div.nav_item {
  margin-left: 25px;
  float: left;
}

.label, .badge  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

div.comment_votes {
  padding: 10px;
}

.badge {
  margin: 0 5px 0 0;
}

.img-polaroid{
  max-width: 500px;
}

.img-small{
  max-width: 150px;
  max-height: 150px;
  float: right;
}

#image_choices{
  background-color: #FFF;
  padding: 0 15px 15px 15px;
  border-radius: 3px;
  border: solid 1px #CCC;
  margin: 0 0 15px 0; 
  display: none;
}

.choose_img_thumbs li, #post_image {
    display: inline-block;
    padding: 5px;
    border: solid 1px #CCC;
    border-radius: 3px;
    margin: 5px;
    max-width: 120px;
}
#post_image {
    display: none;
    padding: 5px;
    border: solid 1px #CCC;
    border-radius: 3px;
    margin: 5px;
    max-width: 250px;
}